version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3001:3001'
    environment:
      - VITE_API_BASE_URL=http://api:3000/
    depends_on:
      - api
    networks:
      - pms-network

networks:
  pms-network:
    driver: bridge
